<div class="row">
    <div class="col">
        <div class="container mt-5">
            <h3 class="mb-5">Registro y Actualizacion de Usuarios</h3>
            <form (ngSubmit)="createUser()">
                <div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="addon-wrapping" name="name" [(ngModel)]="name" >
                </div>
        
                <div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="email" class="form-control" placeholder="email" aria-label="email" aria-describedby="addon-wrapping" name="email" [(ngModel)]="email">
                </div>
        
                <div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <input type="password" class="form-control" placeholder="********" aria-label="password" aria-describedby="addon-wrapping" name="password" [(ngModel)]="password">
                </div>
        
                <div class="input-group flex-nowrap mb-3" *ngIf="role === 'Administrator'">
                    <select class="form-select" name="rol" [(ngModel)]="rol">
                        <option selected value="">Seleccione el rol</option>
                        <option value="Administrator">Administrador</option>
                        <option value="Client">Cliente</option>
                        <option value="Adviser">Asesor</option>
                        <option value="GeneralManager">Gerente general</option>
                      </select>
                </div>
        
                <button type="submit" class="btn btn-primary mb-3" >Guardar</button>
            </form>
            <div class="alert alert-danger" *ngIf="alert.length>0">
                <span><strong> {{alert}} </strong></span>
            </div>
            <div class="alert alert-success" *ngIf="success !==''">
                <span><strong> {{success}} </strong></span>
            </div>  
        </div>
    </div>

    <div class="col">
        <div class="container mt-5">
            <h3 class="mb-5">Listado de Usuarios</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">email</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Fecha registro</th>
                    <th scope="col" *ngIf="role === 'Administrator'">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of users">
                    <th scope="row">{{user.name}}</th>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.creation}}</td>
                    <td *ngIf="role === 'Administrator'"><span class="text-warning" ><i class="fa-solid fa-pen-to-square" (click)="showUser(user.id)" ></i></span>&nbsp;||&nbsp;<span class="text-danger" (click)="deleteUser(user.id)"><i class="fa-solid fa-trash"></i></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
